.collections {
  padding-top: 160px;
  ul {
    display: flex;
    flex-wrap: wrap;
    //max-width: 500px;
    gap: 30px;
    li {
      background-color: #222;
      color: #fff;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;

        background-color: #111;
      }
    }
  }
}

.active_collection {
  background-color: #ff571a !important;
  color: #fff !important;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;

    background-color: coral !important;
  }
}

.films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  margin: 40px 0 80px;
  padding: 0 20px;
  @media (max-width: 1170px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 756px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  img {
    width: 200px;
    height: 280px;
  }
  p {
    padding-top: 10px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.poster {
  position: relative;
}

.rating {
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
}

.highRating {
  background-color: #009900;
}

.mediumRating {
  background-color: #66ff66;
}
.lowRating {
  background-color: #777;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 80px;
  transition: 0.3s;

  p {
    &:hover {
      transition: 0.3s;

      cursor: pointer;
      color: #999;
    }
  }
}

.active {
  color: coral;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;

    color: #ff571a;
  }
}

.pagination {
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      cursor: pointer;
    }
    svg {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;

        stroke: #ff571a;
      }
    }
  }
}

.active_page {
  color: #ff571a;
}
