.swiper::after {
  content: "";
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home {
  background-color: #000;
  color: #fff;
}

.sliders {
  padding: 100px 0;
  h2 {
    margin-left: 60px;
  }
}
