.home {
  background-color: #000;
  color: #fff;
}

.sliders {
  padding: 100px 0;
  h2 {
    margin-left: 60px;
  }
}

.title {
  display: flex;
  align-items: center;
  svg {
    width: 34px;
    height: 34px;
  }
}
