.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
  object-position: center top;
}

.title {
  width: 50%;
  position: absolute;
  left: 100px;
  bottom: 50px;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #d2b48c;
}

.info {
  display: flex;
  gap: 50px;
  padding-top: 110vh;
  padding-bottom: 60px;
  p {
    font-size: 20px;
  }
}

.info_left {
  max-width: 500px;
  img {
    width: 300px;
    margin-bottom: 40px;
  }
}

//.info_middle {
//  //max-width: 600px;
//}

.info_right {
  padding-top: 170px;
}

.info_title {
  display: flex;
  gap: 60px;
  align-items: center;
  h2 {
    font-size: 50px;
  }
  span {
    color: #d2b48c;
    margin-right: 10px;
    font-weight: 600;
    font-size: 50px;
  }
}

h3 {
  color: #888;
  font-size: 30px;
}

h4 {
  padding: 40px 0 20px;
  font-size: 25px;
}

h5 {
  font-size: 18px;
  margin-bottom: 22px;
}

.table_element {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 14px;
  color: #999;
  dd {
    font-weight: 400;
    color: #fff;
  }
}

.trailer {
  width: 300px;
  height: 200px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.trailer__play {
  width: 40px;
  height: 40px;
  transition: 0.5s;
  &:hover {
    stroke: #999;
    transition: 0.5s;
  }
}

.actor {
  padding: 10px 0;
  font-size: 14px;
}

.watchlogo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.where_to_watch {
  div {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
      margin: 20px 0;
    }
    svg {
      cursor: pointer;
    }
  }
  li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
  }
}
